// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

// $primary: #404e7c;
// $primary: #575D90;
$primary: #385F71;
// $secondary: #59c9a5;
$secondary: #028090;
$accent: #E9724C;
$dark: #293241;
$positive: #56e39f;
$negative: #C5283D;
$info: #247ba0;
$warning: #ffe066;
$bgColor: red